{{!-- Services section start from here --}}
  <section class="section py-4">
    <h1 class="text-center text-secondary">Services We Provides are here </h1>
    <hr>
    <div class="container">
        
      {{#each Card.arrCard}}
      <div class="card p-2" style="width: 18rem; ">
        <img src="{{this.icon}}" class="card-img-top" style="height: 18rem;" alt="...">
        <div class="card-body">
          <h4 class="card-title">{{this.title}}</h4>
          <hr class="text-danger">
          <p class="card-text">{{this.description}}</p>
          <a href="{{this.link}}" class="btn btn-outline-danger mr-4">{{this.linktext}}</a>
          <a href="#" class="btn btn-outline-success ml-4">Find Us</a>
        </div>
      </div>
  {{/each}}
    </div>
  </section>